<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363370790170-sklpkd8qr6c1di6sk4tffripille09vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363370790170-sklpkd8qr6c1di6sk4tffripille09vd</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbZOW1ppeo7A1mGPk4b-7SvKuO6r1xkE</string>
	<key>GCM_SENDER_ID</key>
	<string>363370790170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.nikhilesh.castle</string>
	<key>PROJECT_ID</key>
	<string>castle-org</string>
	<key>STORAGE_BUCKET</key>
	<string>castle-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363370790170:ios:4cb9cd498b2bddaf</string>
	<key>DATABASE_URL</key>
	<string>https://castle-org.firebaseio.com</string>
</dict>
</plist>
