.DS_Store
*~

xcuserdata/
love/platform/xcode/DerivedData/
love/platform/xcode/DerivedData-beta/
love/platform/xcode/.idea

love/build/
compile_commands.json

imgui.ini

megasource/build
megasource/installer/build
megasource/CastleSetup.exe

linux/build
linux/gamelift/GameLift-Cpp-ServerSDK/out

._*

macosx/DerivedData-beta

web-source/package-lock.json

ghost-releases/
