node_modules/**/*
.expo/*
npm-debug.*

xcuserdata/

compile_commands.json*

._*

.idea/
brushy.iml
ios/DerivedData/
ios/DerivedData-beta/

EXBuildConstants.*

android/app/src/main/assets/shell-app-manifest.json
android/app/src/main/assets/shell-app.bundle

ios/castle/Supporting/shell-app-manifest.json
ios/castle/Supporting/shell-app.bundle
ios/castle/Supporting/EXShell.json
ios/castle/Supporting/EXShell.plist.bak

.DS_Store
